	@font-face {
		font-family: myFirstFont;
		src: url(./static/Manrope-Medium.ttf);
	}
	
	@font-face {
		font-family: mySecondFont;
		src: url(./static/Manrope-Bold.ttf);
	}
  
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
	
	body{
		background-color:  hsl(210, 46%, 95%);
		font-size: 13px;
		font-family: myFirstFont;
	}
    
    #drawer{
        display:table-cell;
        width:40%;
        height:100%;
        background-image: url('images/drawers.jpg');
        border-radius:15px 0 0 15px;
        background-size: cover;
        background-position: center;
    }

	.container{
        box-shadow: 0 8px 6px -6px black;
		border-radius : 15px;
		height: auto;
		width : 50%;
		display : inline-block;
		background-color : white;
		position : absolute;
		top:25%;
		left:25%;
	}
	
	.icon {
		margin: 3px;
		margin-left:12px;
		text-align:center;
		cursor: pointer;
	}
    #modal{
        display:flex;
        visibility: hidden;
        position: absolute;
        right: -80px;
        bottom:70px;
        background-color:hsl(217, 19%, 35%);
        height:25px;
        padding:10px;
        border-radius:10px;
        width:200px;
        display:flex;
        align-items:center;
    }
    
	#triangle-down {
		position:absolute;
        bottom:50px;
        display:none;
		right: 42px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 20px solid hsl(217, 19%, 35%);
	}
    
    
    #details{
        display:table-cell;
        width:50%;
        vertical-align:top;
        font-family: mySecondFont;
        padding:4%;
    }

    #logo{
        vertical-align:super;
        margin:auto;
        cursor:pointer;
        color:white;
    }
    #shareDiv{
        position: absolute;
        bottom: 6px;
        right : 30px;
        background-color: hsl(210, 46%, 95%);
        border-radius:50%;
        height:40px;
        width:40px;
        cursor:pointer;
    }

    #name{
        display: inline-block;
        margin:0px 20px 0px;
        vertical-align:top; 
    }

    
    .modal-animation{
        animation-name: cssAnimation;
        animation-duration:3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .modal-animation2{
        animation-name: cssAnimation2;
        animation-duration:3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @keyframes cssAnimation {
        from {
          transform: rotate(0deg) scale(0.5) skew(0deg) ;
        }
        to {
          transform: rotate(0deg) scale(1) skew(0deg) ;
        }
      }

    
      @keyframes cssAnimation2 {
        from {
          transform: rotate(180deg) scale(1) skew(30deg) ;
        }
        to {
          transform: rotate(0deg) scale(1) skew(0deg) ;
        }
      }



	@media only screen and (max-width: 800px) {
		#drawer{
            display: block;
            width : 100%;
            height: 250px;
            border-radius:15px 15px 0 0;
        }
        
        .container{
            width:80%;
            margin:auto;
            left: 10%;
            padding-bottom: 0px;
        }

        #modal{
            
            position: relative;
            width:100%;
            right: 0;
            bottom: 0;
            padding: 10px 0 10px 0;
            border-radius: 0 0 15px 15px;
        }
        
        #logo{
            margin: 20px;
        }


        #triangle-down {
            visibility: hidden;
        }
	}
